*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Outfit";
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: black;
    color: white;

    width: 100vw;
    height: 64px;
    padding: 12px, 40px, 12px, 40px;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 213.86px;
    height: 36px;
    gap: 7.33px;
}

.letter-cup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 400px;
    font-size: 23.46px;
    line-height: 35.19px;
    width: 186px;
    height: 36px;
    opacity: 86%;
    
}
.cup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20.53px;
    height: 24.93px;

}
.menu-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style-type: none;
    width: 1,280px;
    height: 64px;
    gap: 16px;
}
.li-menu-wrapper{
    display: flex;
    align-items: center;
    min-height: 32px;
   font-weight: 600px;
   font-size: 14px;
   line-height: 16px;
   height: 32px;
   cursor: pointer;
}
.li-menu-wrapper:hover{
   background: #F7F5F31A 10%;
}

.frame-9{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 228px;
    height: 40px;
    gap: 24px;
}
.link-botton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 134px;
    height: 24px;
    gap: 8px;
}
.phone{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 24px;
    height: 24px;

}
.iconTlf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
    border: 2px;
}
.tlf{
    width: 102px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.logIn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    height: 40px;
    border-radius: 4px;
    padding: 12px, 24px, 12px, 24px;
    gap: 8px;
    background-color: #515051;
    color: white;
    cursor: pointer;
}
.log{
    width: 82px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

}
.carr{
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1,280px;
    height: 486px;
    padding: 48px, 40px, 48px, 40px;
    gap: 8px;
    
    background-color:#E3DED74D;
    box-shadow: 0px 4px 4px 0px #00000040;
    
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1,200px;
    height: 390px;
    gap: 24px;
    margin-top: 64px;
}
.content{
    display: flex;
    justify-content:space-between;
    align-items: start;
    flex-direction: column;
    width: 588px;
    height: 232px;
    gap: 16px;
}
.pre-title{
    width: 588px;
    height: 24px;
    font-weight: 600px;
    font-size: 18px;
    line-height: 24px;
    color: #2A5B45;

}
.h1{
   width: 588px;
   height: 88px;
   font-weight: 600px;
   font-size: 40px;
   line-height: 44px;
   color: #000000;
}
.paragraph{
    
    height: 32px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 16px;
    color:#111827;
}
.button-wrapper{
    display: flex;
    width: 321px;
    height: 40px;
    gap: 16px;
    
}

.discover{
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 168px;
    height: 40px;
    border-radius: 4px;
    padding:12px, 24px, 12px, 24px;
    gap: 8px;
    background-color: #1F1815;
    cursor: pointer;
}
.cafe-discover{
    width: 120px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.buy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 40px;
    border-radius: 4px;
    padding: 12px, 24px, 12px, 24px;
    gap: 8px;
    background-color: #2A5B45;
    cursor: pointer;
    
}
.buy-cafe{
    display: flex;
    align-items: center;
    width: 89px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.hero-image{
    width: 588px;
    height: 390px;
    border-radius: 20px;
    background-color: #FEFFF5;
}
.cards1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1,280px;
    height: 380px;
    padding: 48px, 147px, 48px, 147px;
    gap: 24px;

    background-image:url(/assets/img/taza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

.title{

    width: 350px;
    height: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

}
.card-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 996px;
    height: 232px;
    gap: 24px;
   
}
.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 316px;
    height: 232px;
    border-radius: 8px;
    border: 1px;
    padding: 24px;
    gap: 16px;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px 0px #E3DED7CC;

}

.paragraph{
   
    height: 64px;
    width: 268px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}
.ilustration1{
    
    width: 64px;
    height: 64px;
    border-radius: 20px;
    padding: 12px;
    gap: 8px;
    background: #2A5B45;

}
.clipboard{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    width: 316px;
    height: 232px;
    border-radius: 8px;
    border: 1px;
    padding: 24px;
    gap: 16px;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px 0px #E3DED7CC;

}
.ilustration2{
   
    width: 64px;
    height: 64px;
    border-radius: 20px;
    padding: 12px;
    gap: 8px;
    background-color: #2A5B45;

}
.truck{
 
    width: 40px;
    height: 40px;
}
.pretitle2{

    width: 268px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    background: #2B2A2B;


}
.paragraph2{
    width: 268px;
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background: #111827;

}
.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    width: 316px;
    height: 232px;
    border-radius: 8px;
    border: 1px;
    padding: 24px;
    gap: 16px;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px 0px #E3DED7CC;
    
}
.ilustration3{
    width: 64px;
    height: 64px;
    border-radius: 20px;
    padding: 12px;
    gap: 8px;
    background: #2A5B45;

}
.gift{
    width: 40px;
    height: 40px;
    padding: 5px;
    
}
.iconGift{
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
    border: 2px;
    color: 2px solid #FFFFFF
}
#pretitle3{
    width: 268px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2B2A2B;

}
.paragraph3{
    width: 268px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}

.cards2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 1,280px;
    height: 603.39px;
    padding: 40px;
    gap: 40px;
}
.news{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;

}
.card-wrapper1{
    display: flex;
    justify-content: center;
    width: 1,200px;
    height: 391.39px;
    gap: 24px;
    cursor: pointer;
}
.coffeBagGreen:hover{
    background: #E3DED7;

}

.coffeBagGreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 282px;
    height: 391.39px;
    border-radius: 8px;
    padding: 24px;
    gap: 24px;
    border: 1px solid #E3DED7;
    
}
.coffe1{
    width: 219.39px;
    height: 219.39px;


}
.productInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 119px;
    height: 44px;
    gap: 12px; 
}
.name{
    width: 119px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    line-height: 16px;
    color: #000000;
    
}
.price{
    
    width: 42px;
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;

}
.buttonSendBag{
    width: 60px;
    height: 32px;
    border-radius: 4px;
    padding: 8px;
    gap: 8px;
  
    background: #2A5B45B2 70%;

}
.buttonSendBag:hover{
    background: #2A5B45;

}
#textSendBag{
    width: 44px;
    height: 16px;
    font-weight: 600px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    



}

.coffe2{
    width: 219.39px;
    height: 219.39px;

}
.product-info2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 44px;
    gap: 12px;
}
.name2{
    width: 147px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

}
.price2{
    width: 42px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.laos{
    width: 219.39px;
    height: 219.39px;
    
}
.productInfo3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99px;
    height: 44px;
    gap: 12px;
}
.name3{
    width: 99px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}
.price3{
    width: 42px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}


.etiopia{
    width: 219.39px;
    height: 219.39px;
}
.product-info4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 44px;
    gap: 12px;

}
.name4{
    width: 110px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}
.price4{
    text-align: center;
    width: 42px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}


.link-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 101px;
    height: 24px;
    gap: 16px;
    cursor: pointer;
    

}
.arrow-narrow-right2{
    width: 24px;
    height: 24px;

}

.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 621px;
    padding: 48px, 386px, 48px, 386px;
    gap:24px;
    background: #2A5B45;

}
.h2{
    width: 228px;
    height: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0%;


}
.faqWrapper{
    display: flex;
    flex-direction: column;
    width: 668px;
    height: 425px;
    gap: 16px;

}
.faq1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:668px;
    height: 72px;
    padding: 24px;
    gap: 16px;
    border-radius: 10px ;
    background: #FFFFFF;
    color: #2B2A2B;

} 
.divider1{
    width: 620px;
    border: 1px;
    border: #E3DED7
}
    
.titleChevron1{
    display: flex;
    width: 620px;
    height: 24px;
    justify-content: space-between;

} 
  
.titleqestion{
    width: 620px;
    height: 24px;
   
}
#cheUp1{
    width: 20px;
    height: 20px;
}
.faq1:hover #cheUp1 {
    rotate: 180deg;
}
.faq1:hover {
  
    height: 135px;
    transition: all 1s ease;

}
.content1{
    width: 620px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color:#2B2A2B;
    overflow: hidden; 
      
}
.faq2{
    
    width: 668px;
    height: 72px;
    border-radius: 10px;
    padding: 28px;
    background: #FFFFFF;
    color: #2B2A2B;
    overflow: hidden;
    
}
.faq2:hover{
    height: 160px;
    transition: all 1s ease;
    
}

.faq2:hover #cheUp1 {
    rotate: 180deg;
}

.titleChevron2{
    display: flex;
    justify-content: space-between;
    width: 620px;
    height: 24px;
    
}
.content2{
    width: 620px;
    height: 64px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2B2A2B;
  
}
.faq3:hover #cheUp1{
    rotate: 180deg;
}

.faq3{
   
    width: 668px;
    height: 72px;
    border-radius: 10px;
    padding: 30px;
    gap: 16px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;

}

.faq3:hover{
    height: 120px;
    transition: all 1s ease;
}

.titleChevron3{
    display: flex;
    justify-content: space-between;
    width: 620px;
    height: 26px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

}
#title3{
    width: 290px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2B2A2B;
}

.linkIconDown{
    display: flex;
    align-items: center;
    width: 178px;
    height: 24px;
    gap: 16px;
    cursor: pointer;
}
#dude{
    width: 138px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}
#arrowNarrow{
    width: 18px;
    height: 8px;
    top: 8px;
    top: 8px;
    left: 3px;
    border: 2px;
    
}
.featureSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 1280px;
    gap: 7.5%;

    height: 480px;
    background: #F7F5F3;

}
.wrapperFeature{
    
    width: 1,200px;
    height: 390px;
    top: 44.61px;
    left: 40px;
 
}
.contentFeature{

    
    width: 457px;
    height: 116px;
    gap: 16px;
}
#coffeeShop{
   
    width: 340px;
    height: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;

}
#paragraphShop{
    width: 457px;
    height: 32px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 16px;
    color: #111827;
}
.linkIconShop{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 118px;
    height: 24px;
    gap: 16px;
    cursor: pointer;
}
.adress{
    width: 78px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.arrowCoffeShopAdress{
    width: 24px;
    height: 24px;

}
#arrowShop{
    width: 18px;
    height: 8px;
    top: 8px;
    left: 3px;
    border: 2px;
    background: #E3DED74D;
    color: #111827

}
#heroImage{

    width: 588px;
    height: 390px;
    border-radius: 20px;
    color :#FEFFF5;
}
.splitTwoToneDesktop{
    display: flex;
    justify-content: center;
    
    width: auto;  
    height: 552px;
    background: #E3DED7;
}
.leadingSection{
    display: flex;
    flex-direction: row;
    align-items: center;
  
    width: 1200px;
    height: 552px;
    gap: 20px;
    opacity: 90%;
    background: #E3DED7;

}
.contactSection{
    width: 588px;
    height: 320px;
    gap: 32px;

}
.TrailingContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 588px;
    height: 552px;
    padding: 32px, 32px, 32px, 48px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.hSection{

    width: 588px;
    height: 68px;
    gap: 12px;
    
}
.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 588px;
    height: 68px;
    gap: 12px;
    
}

#titleContact{
    
    width: 588px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #111827;

}
#paragraphContact{
    width: 588px;
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
}
.contentContact{
    width: 588px;
    height: 220px;
    gap: 24px;
   
}
#paragraphContent{
    width: 588px;
    height: 37px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;

}
.addressShop{
     
    width: 344px;
    height: 27px;

}
#everGreen{

    width: 141;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;

}

#springfield{
    width: 133px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
}
.detailShop{
    display: flex;
    align-items: center;
    width: 588px;
    height: 60px;
    gap: 12;

}
#phoneDetail{
    
    width: 24px;
    height: 24px;
    
}
#numberDetails{
    
    width: 552px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
}
.numberDetails{
    width: 588px;
    height: 24px;
    gap: 12px;

}
.emailDetail{
    display: flex;
    align-items: center;
    width: 588px;
    height: 24px;
    gap: 12px;
    color: #6B7280;

}
#mailDetailIcon{
    width: 24px;
    height: 24px;
}
#addressMail{
    width: 552px;
    height: 16px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 16px;
}
#jobFind{
    width: 588px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
}
.formLabel1{
    display: flex;
    flex-direction: column;
   
   
    margin-top: 20px;
    width: 470px;
    height: 488px;
    gap: 20px;
}
#formLabel:hover{
    border: 2px solid #3F8F6B
}
.imputLabel1{
    
    width: 470px;
    height: 54px;
    gap: 4px;

}
#labelBox{
   
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

#labelName{

    width: 96px;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

}
.PhoneBox{
    width: 470px;
    height: 58px;
}
#containerPhoneAndText{
    border-radius: 6px;
    width: 470px;
    display: flex;
    align-items: center;
    
}
.codPhoneUser{
    width: 68px;
    height: 32px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #D1D5DB;
    text-align: center;
    border-right: none;
    
}
#phoneUserText{
    width: 402px;
    height: 32px;
    border: 1px solid #D1D5DB ;
    border-left: none;
    outline: none;
    
    
}

#containerPhoneAndText:hover{
    border: 2px solid #3F8F6B
}

#formLabel{
    width: 470px;
    height: 34px;
    border-radius: 6px;
    border: 1px;
    padding: 9px, 13px, 9px, 13px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px 0px #0000000D;
    outline: none;

}
#formFieldText{
    width: 470px;
    height: 122px;
    border-radius: 6px;
    border: 1px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px 0px #0000000D;
    outline: none;
    

}

#formFieldText:hover{
    border: 2px solid #3F8F6B
}
.checkBoxInput{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 470px;
    height: 20px;
    gap: 12px;
}
#check{
    width: 16px;
    height: 16px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    accent-color: #2A5B45;
    ;

}
.buttonSend{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    border-radius: 4px 0px 0px 0px;
    background: #2A5B45;
    cursor: pointer;


}

#sendNow{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    
    width: 44px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    
}
.firstFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: auto;
    height: 310px;
    background: #1F1815;

}
.footerWrapper{
    display: flex;
    flex-direction: column;
    
    width: 1,200px;
    height: 204px;
    top: 28.61px;
    left: 40px;
    gap: 16px;
    

}
.logoItem{
    display: flex;
    align-items: center;
    text-align: center;
    width: 288px;
    height: 36px;
    gap: 7.33px;
}
.letter-cup{
    font-weight: 400px;
    font-size: 23.46px;
    line-height: 35.19px;
    width: 186px;
    height: 36px;
    color:#FFFFFF;

}
.linksContact{
    display: flex;
    justify-content: space-between;
   
    width: 1132px;
    height: 152px;


}
.contactWrapperFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 255.33px;
    height: 152px;
    gap: 16px;
    
  
}
#helpCustomer{
    width: 131px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color:#FFFFFF;

}
.buttonContact{
    width: 182px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    border-radius: 4px 0px 0px 0px;
    background: #515051;
}
.linkButtonContact{
    display: flex;
    align-items: center;
    width: 134px;
    height: 24px;
    gap: 8px;
}
#phoneButtonContact{
    width: 24px;
    height: 24px;
}
#phoneNumberButton{
    width: 102px;
    height: 16px;
    font-weight: 600px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}
.buttonMail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 232px;
    height: 48px;
    border-radius: 4px;
    padding: 12px, 24px, 12px, 24px;
    gap: 8px;
    background: #515051;

}
.linkButtonMail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 24px;
    gap: 8px;
    

}
#mailButtonContact{
    width: 24px;
    height: 24px;
   

}
#mailContactAddress{
    width: 152px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;



}
.menuWrapperFooter{
    display: flex;
    flex-direction: column;
    
    width: 96px;
    height: 144px;
    top: 2.61px;
    left: 577px;
    gap: 16px;
}
#shopFooter{
    width: 46.25px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;

}
#suscription{
    width: 73px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;

}
#bussines{
    width: 95px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
}
#aboutUs{
    width: 96px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
}
#contactTlf{
    width: 59px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;

}
.menuWrapperPolitic{
    display: flex;
    flex-direction: column;
    width: 255.33px;
    height: 80px;
    top: 3px;
    left: 800px;
    gap: 16px;
}
#politic1{
    width: 137px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;


}
#politic2{
    width: 116px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
}
#politic3{
    
    width: 146px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;


}
.CopyrightFooter{
    width: auto;
    height: 40px;
    top: 270.34px;
    padding: 12px 540px 12px 540.5px;
    background: #2B2A2B;
    
}
#law{
    
    width: 359px;
    height: 16px;
    top: 12px;
    
    font-size: 14px;
    font-weight: 599;
    line-height: 16px;
    color: #FFFFFF;
    gap:50%
   


}